# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
/coverage/

# PHPStan
.phpstan.cache

# PHP CS Fixer
.php-cs-fixer.cache

# IDE
/.idea/
/.vscode/
/.history/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LLMs
*claude*
AGENTS.md